body {
	font-family: Arial, sans-serif;
	color: white;
	padding: 0;
	margin: 0;
}

.navigation-bar {
    width: 100%;
    height: 80px;
    background-color:rgb(10, 9, 8);
		text-align: center;
		color: white;
}
.logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-top: 15px;
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;
    line-height: 80px;
}

.containerbakk{
	background-image: url("temps/bakk.png");
	background-size:cover;
}


.clearfix {
    content: ' ';
    display: table;
    width: 100%;
    clear: both;
}
div {
    box-sizing: border-box;
}

header {
	background: url(../WebNew/temps/bakk.png)
	no-repeat center top;
	cover;
	height: auto;
}

.container-sloi {
	background-image: url("temps/sloi.png");
	display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;

-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;

-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
}

.text-sloi{
margin-top: 200px;
margin-bottom: 200px;
text-align: center;
}

.text-sl{
	text-align: center;
}

.logo {
	line-height: 200px;
}




.title__first {
	font-size 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 295px;
}

form {
	text-align: center;
	font-size 14px;
	color: #010101;
	margin-top: 0px;
	border: none;
    padding: 16px 32px;

}
.button {
    background-color: #ffa705;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
		border-radius: 12px;
}








/*стилі для продукції*/


.products {
	background-image: url("temps/bak.jpg");
	background-size: cover;

}
.profile-image:hover .image_hover_bg{display:block}
.flex-container{
	display: flex;
	align-items: center;
  justify-content: center;
	text-align: center;
}
.product-box {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.product-box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hover-image {
  display: none;
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 5%;
}

.product-box:hover .hover-image {
  display: block;
}

.button-product{
	border-color: orange;
	border: 1px solid;
	border-radius: 12px;
  background: rgba(76, 175, 80, 0.1);
	color: orange;
	padding: 1% 5%;
}

.button-product:hover{
	cursor:pointer;
}

.text-product{
	margin-bottom: 5%;
}

ul.hr {
 margin: 5%;
 padding: 5%;
}
ul.hr li {
 display: inline;
 margin-right: 5px;
}

hr.line {
	border: none;
	color: orange;
	background-color: orange;
	height: 5px;
	margin-bottom: 5%;
}

.modal-title {
	color: black;
}

.modal-dialog{
	background-color: rgb(99, 98, 102);
	}

.container-fluid{
	color: rgb(34, 41, 40);
}
