body {
	font-family: Arial, sans-serif; 
	color: white;
	padding: 0;
	margin: 0;
}

.clearfix {
    content: ' ';
    display: table;
    width: 100%;
    clear: both;
}
div {
    box-sizing: border-box;
}

header {
	background: url(../WebNew/temps/bakk.png) 
	no-repeat center top;
	cover;
	height: auto;
	padding-bottom: 330px;
}

.container {
    width: 960px;
    margin: 0 auto;

}

.logo {
	margin-top: 22px;
	float: left;
}
nav {
	float: right;
}
.menu {
	padding: 0;
	margin: 0;
	display: block;
}
.menu li {
	float: left;
	display: block;
	margin-right: 55px;
	font-size: 16px;
	margin-top: 35px;
}

.menu li a {
	color: white;
	text-decoration: none;

}
.back {
background:
url(../WebNew/temps/sloi.png) top center fixed;
height: 100%;
position: relative;
overflow: hidden;
width: 100%
   }
   
.title__first {
	font-size 40px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 295px; 
}

form {
	text-align: center;
	font-size 14px;
	color: #010101;
	margin-top: 0px;
	border: none;
    padding: 16px 32px;

}
.button {
    background-color: #ffa705;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.servis {
	text-align: center 100%;


}
.servis__item {
	width 495px;
	float: left;
	text-align: center;
	
}
.servis__item h1 {
	text-align: center;
	font-size: 15px;
	color: #ffa705;
}






body {
	margin: 0px;
}
.bg {
	background-color: #232324;
	height: 70px;
}
.li1 {
	display: inline-block;
	padding: 30px;
	color: #ffffff;
	font-size: 13px;
	position: relative;
	left: 100px;
}
.button {
    background-color: #ffa705;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #ffffff;
}

.container p {
    width: 500px;
    padding: 40px;
}
.img img {
  vertical-align: middle;
}
/*.text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align:  center;*/
}
.image {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h2 {
	position	: absolute;
	top		: 200px;
	left		: 0;
	width		: 100%;
	align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align:  center;
}


/*стилі для продукції*/


.products {
	background-image: url("temps/bak.jpg");
	background-size: cover;

}
.profile-image:hover .image_hover_bg{display:block}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 35px;
}
.items {

}
.product-box {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.product-box:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.hover-image {
  display: none;
}

.product-box:hover .hover-image {
  display: block;
}

.button-product{
	border-color: orange;
	border: 1px solid;
	border-radius: 12px;
  background: rgba(76, 175, 80, 0.1);
	color: orange;
	padding: 1% 5%;
}

.button-product:hover{
	cursor:pointer;
}

ul.hr {
 margin: 5%;
 padding: 5%;
}
ul.hr li {
 display: inline;
 margin-right: 5px;
}

hr.line {
	border: none;
	color: orange;
	background-color: orange;
	height: 5px;
}

@media only screen and (max-width: 980px) and (min-width: 752px) {
	.flex-container {
		display: flex;
		width: 75%;
		justify-content: center;
	}
}
